doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		title 1s
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/reset.css")
		link(rel="stylesheet", href="assets/css/styles.css")
		link(rel="stylesheet", href="assets/css/font.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js")
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
	body
		header.portfolio
		section.portfolio.flex
			.wrapper
				h1 Наши работы
				p.desc За 15 лет работы нами проделана огромная работа! Выполнено свыше 300 проектов по России. Выполняли работы от простых внедрений до автоматизации крупных торговых/производственных предприятий. Наши клиенты высоко оценивают уровень работ и оказываемый сервис.
				.tab.flex 
					span Оптовая и розничная торговля (10)
					span Производство (6)
					span Услуги (2)
				.white-block.flex
					.block.flex
						img(src="assets/img/logo-portfolio.png", alt="")
						div.flex
							p Группа компаний
							p «Промышленная безопасность»
							a(href="#") www.ekoprombez.ru
						div
							p.glav-byx Главный бухгалтер
							p Пирожкова Надежда Петровна
							p +7 8482 68-50-81
						.video
							a(href="#")
								img(src="assets/img/video.png", alt="")
					.block.minus
						h3 Было
						ul
							li Велся учет в 1С:Бухгалтерии
							li Разные виды деятельности велись сотрудниками и информация хранилась только у них
							li Заявки с новыми клиентами оформлялись специальными документами в файлах
							li Комплектование групп для обучения производилось в ручном режиме
							li Задолженность по оперативной деятельности не сходилась с данными в 1С:Бухгалтерии
							li В отдельных филиалах велся учет отдельно и не связанно с центральным офисом
							a(href="#") cмотреть все
					.block.plus
						h3 Стало
						ul
							li Объединен учет всех филиалов в единую систему
							li Все виды деятельности стали работать по настроенным бизнес-процессам на сервере
							li Разработана и внедрена уникальная система оформления всех документов в 1С
							li Внедрена система обучения от заказов до проведения экзаменов и формирования закрывающих документов
							li Настроен единый контроль за дебиторской задолженностью
							a(href="#") cмотреть все
				footer.flex
					div
						a(href="#").order Хочу такой же результат

		section.portfolio.flex
			.wrapper
				.white-block.flex
					.block.flex
						img(src="assets/img/logo-portfolio.png", alt="")
						div.flex
							p Группа компаний
							p «Промышленная безопасность»
							a(href="#") www.ekoprombez.ru
						div
							p.glav-byx Главный бухгалтер
							p Пирожкова Надежда Петровна
							p +7 8482 68-50-81
						.video
							a(href="#")
								img(src="assets/img/video.png", alt="")
					.block.minus
						h3 Было
						ul
							li Велся учет в 1С:Бухгалтерии
							li Разные виды деятельности велись сотрудниками и информация хранилась только у них
							li Заявки с новыми клиентами оформлялись специальными документами в файлах
							li Комплектование групп для обучения производилось в ручном режиме
							li Задолженность по оперативной деятельности не сходилась с данными в 1С:Бухгалтерии
							li В отдельных филиалах велся учет отдельно и не связанно с центральным офисом
							a(href="#") cмотреть все
					.block.plus
						h3 Стало
						ul
							li Объединен учет всех филиалов в единую систему
							li Все виды деятельности стали работать по настроенным бизнес-процессам на сервере
							li Разработана и внедрена уникальная система оформления всех документов в 1С
							li Внедрена система обучения от заказов до проведения экзаменов и формирования закрывающих документов
							li Настроен единый контроль за дебиторской задолженностью
							a(href="#") cмотреть все
				footer.flex
					div
						a(href="#").order Хочу такой же результат
		div
			h4 Автоматизация торговой фирмы «Партнер Поволжье»
			a(href="http://partner-fruit.ru/") http://partner-fruit.ru/
			p Фирма занимается розничной торговлей овощами и фруктами.
