doctype
html
	head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
	meta(name='mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name="apple-mobile-web-app-status-bar-style", content="black")
	meta(name="theme-color", content="#2196f3")
	title Квест 2016
	link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet', type='text/css')
	link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
	link(rel="stylesheet", href="assets/css/styles.css")
	link(rel="icon", href="img/icon.png")
	script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js")
body

								block content


script(type="text/javascript", src="assets/js/main.js")
script(type="text/javascript", src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
block script